.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main{
    width: 500px;
    height:700px;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.items{
    width: 480px;
    height: 100px;
    background-color: cadetblue;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.price{
    margin-right: 250px;
}